body {
    font: 80% arial,helvetica,sans-serif;
    margin: 0;
}
h1, h2 {
    margin: 0;
}
#header {
    background: none repeat scroll 0 0 #CCCCCC;
}
.span2 {
    float: left;
    width: 150px;
}
.span10 {
    margin-left: 150px;
}
#footer {
    background: none repeat scroll 0 0 #CCCCCC;
    clear: left;
}
#footer p {
    margin: 0;
}
